{% extends "base.html" %} {% block link %}<link
  rel="stylesheet"
  href="{{ url_for('static',filename='styles/instruction.css') }}"
/>{% endblock %} {% block title %}Digital A.M.P.S{% endblock %} {% block body %}
<div
  class="outer-box w100 flex flex-center-center p-small"
  style="margin-top: 120px"
>
  <div class="flex w100 flex-center-center p-small">
    <img src="" alt="" width="100%" height="400px" />
  </div>
  <div
    class="flex w100 flex-center-center p-small"
    style="border: 1px solid black; border-radius: 8px"
  >
    <div class="flex w100 flex-start p-small font-large font-weight-bold">
      What you need to know.
    </div>
    <div class="flex w100 flex-start p-small font-medium font-weight-bold">
      The Digital Strategy Planning Tool, The Digital AMPS Approach and the
      StratahedronTM Strategy Tool.
    </div>
    <div class="flex w100 flex-start p-small font-normal">
      The Digital AMPs Approach helps you identify and articulate the key
      elements of your business and how you deliver your remarkable value.
    </div>
    <div class="flex w100 flex-start p-small font-normal">
      There are four elements that are part of the Digital Expedition of
      Transformation. Aligning your elements creates a strong foundation,
      structure and architecture for defining what is important and how you
      deliver your remarkable value.
    </div>

    <div class="flex w100 flex-center p-small">
      <div class="flex flex-center-center p-small">
        <img src="" alt="" width="200px" height="200px" />
      </div>
      <div class="flex flex-center-center p-small font-normal">
        <div class="flex w100 flex-start font-normal">
          The Four Elements of the AMPS StratahedronTM are:
        </div>
        <div
          class="flex w100 flex-start font-normal"
          style="padding-left: 20px"
        >
          <span class="font-weight-medium">[A] Audience -</span>who you serve
          and how you communicate your value
        </div>
        <div
          class="flex w100 flex-start font-normal"
          style="padding-left: 20px"
        >
          <span class="font-weight-medium">[M] Method -</span>the internal
          structures that you use to deliver your value
        </div>
        <div
          class="flex w100 flex-start font-normal"
          style="padding-left: 20px"
        >
          <span class="font-weight-medium">[P] Process -</span>the external
          steps that you guide your audience through
        </div>
        <div
          class="flex w100 flex-start font-normal"
          style="padding-left: 20px"
        >
          <span class="font-weight-medium">[S] Story - </span>the journey that
          you are taking your audience on
        </div>
      </div>
    </div>

    <div class="flex w100 flex-start font-normal p-small">
      Within each of the 4 elements of the AMPS StratahedronTM are three
      sub-elements that define the parameters of each of your main elements.
      These sub-elements further identify the course of actions that can be
      taken to further align and identify your AMPS structure
    </div>
    <div class="flex w100 flex-start font-normal p-small">
      When these four elements are defined and physically connected together,
      they are able to form a unique, 3-Dimensional 4-sided pyramid shape, that
      is unique to you and only your business. This shape is called a
      Tetrahedron, and it contains your Strategic DNA - the core of what you do
      and how you deliver your value. When it is combined with your strategic
      elements, it becomes a StratahedronTM- your 3-Dimensional structure of
      your strategy. While the 4 sided shape is similar to all businesses and a
      foundation for all, only you have the defined structure within the
      StratahedronTM as you are able to create it specifically for you and your
      business.
    </div>

    <div
      class="flex w100 flex-center-center font-normal p-small"
      style="align-items: flex-start"
    >
      Within the larger structure of the 4 triangles, are the internal
      structures that this model creates, expands and demonstrates, once in the
      3-D shape, they become the core vertices of:
      <div class="flex w100 flex-start font-normal" style="padding-left: 20px">
        <span class="font-weight-bold">1.</span>
        Clarity
      </div>
      <div class="flex w100 flex-start font-normal" style="padding-left: 20px">
        <span class="font-weight-bold">2.</span>
        Certainity
      </div>
      <div class="flex w100 flex-start font-normal" style="padding-left: 20px">
        <span class="font-weight-bold">3.</span>
        Competency
      </div>
    </div>

    <div class="flex w100 flex-start font-normal p-small">
      Finally, the Content #Hashtags are content topics that are an integral
      part of your strategy model. These are concepts that are connecting the
      pieces of the model together through the main vertices - topics that you
      can carry forward and that can pull your audience and community together.
    </div>

    <div class="flex w100 flex-start font-normal p-small">
      This is your StratahedronTM creator studio to show you how to design your
      own StratahedronTM. Once you have created your strategy model design, you
      can print it out or re-design another one.
    </div>

    <div class="flex w100 flex-start font-normal p-small">
      The StratahedronTM is a design strategy tool to help you see and visualize
      your core digital business strategy. It allows you to develop and then
      clearly to see what is important and how it fits together, where the
      intersections are, and how to get clarity with your business in a
      multitude of directions.
    </div>

    <div class="flex w100 flex-start font-normal p-small">
      It takes the four major elements of Audience, Method, Process & Story, and
      combines them into a strategic architecture that you can then use to
      identify, plan and execute projects as part of your Digital Expedition of
      Transformation & journey of digital transformation.
    </div>

    <div class="flex w100 flex-start font-normal p-small">
      After entering the details of your AMPS StratahedronTM - you can then
      print it out and create your own, individual StratahedronTM that can then
      be assembled into the Tetrahedron shape. You can also email the model to
      yourself, to print and assemble more StratahedronsTM
    </div>

    <div class="flex w100 flex-start font-normal p-small">
      Let’s get started.
    </div>

    <div class="flex w100 flex-start p-small font-medium font-weight-bold">
      Instructions to Designing & Building Your Digital AMPS StratahedronTM.
    </div>

    <div class="flex w100 flex-start p-small font-normal">
      There are 4 interconnected triangles that form the basis of your digital
      business strategy. They are based on the concepts of Audience, Method,
      Process, and Story.
    </div>

    <div class="flex w100 flex-start p-small font-normal">
      Enter the Strategy Model Creator Studio
    </div>

    <div class="flex w100 flex-start p-small font-normal">
      FIRST, watch the explainer video to show you how it all fits together.
      [WATCH VIDEO#2 - me explaining it HERE- to be provided - but set a frame
      for it]
    </div>

    <div class="flex w100 flex-start p-small font-normal">
      FIRST, watch the explainer video to show you how it all fits together.
    </div>

    <div class="flex w100 flex-start p-small font-normal">
      NEXT, complete these steps
    </div>
    <div class="flex w100 flex-center-center">
      <div class="flex w100 flex-center-center">
        <img src="" alt="" width="50%" height="400px" />
      </div>
      <div class="flex w100 flex-start font-normal p-small">
        <span class="font-weight-bold" style="width: 12%"
          >Step 1: Answer the questions.</span
        >
        Using the questions as a guide, complete all of the mandatory questions
        - the four elements and the twelve total subelements. Also add in your
        content #Hashtags. Push your thinking.
      </div>
      <div class="flex w100 flex-start font-normal p-small">
        <span class="font-weight-bold" style="width: 12%"
          >Step 2: See what it looks like.
        </span>
        Print out your StratahedronTM and email it to yourself. You will need to
        Register your details to print out the PDF, download it or email it to
        yourself
      </div>
      <div class="flex w100 flex-start font-normal p-small">
        <span class="font-weight-bold" style="width: 6%">Step 3: Cut it. </span>
        Once printed, cut out the outer edge of the flat shape of the
        4-triangles or tetrahedron from your piece of paper, leaving the tabs,
        along with the triangles
      </div>
      <div class="flex w100 flex-start font-normal p-small">
        <span class="font-weight-bold" style="width: 20%"
          >Step 4: Transform it into a 3D model.
        </span>
        Fold all of the edges, tabs and triangles inwards. It will start to form
        a tetrahedron. Fold the tabs and stick each of the 3 tabs under each of
        the corresponding edges of each triangle. If you have glue - add glue to
        the top of each tab before placing under. If you have tape, tape over
        the edges to hold each side together.
      </div>
      <div class="flex w100 flex-start font-normal p-small">
        <span class="font-weight-bold" style="width: 6%">Step 5: Enjoy! </span>
        Take a look at your StratahedronTM and see how it all comes together in
        multiple dimensions. Rotate it around and see how it further connects
        and refines what you business is about, and how you deliver your value.
      </div>
    </div>

    <div class="flex w100 flex-start p-small font-normal font-weight-bold">
      Get excited! You are the only person in the world that has this model of
      your business in front of you.
    </div>

    <div class="flex w100 flex-start p-small font-normal">
      <span class="font-weight-bold" style="width: 3%">TIP :</span>Answer the
      questions with the first ideas that come to mind. Then, if you find they
      don’t fit properly, in the context of all of them together, change them to
      reflect your new converging ideas. Nothing is set in stone and the
      StratahedronTM is meant to be a dynamic process, so change it until you’re
      comfortable that it fits for you.
    </div>
  </div>
</div>

<div class="flex w100 flex-center-center p-small">
  <form action="/creator/studio" method="GET">
    <button class="btn font-medium">
      Enter the
      <span class="font-weight-bold">Strategy Model Creator Studio</span>
    </button>
  </form>
</div>
{% endblock %}
